:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-burnt-orange: #aa6644;
    --color-vintage-brown: #997766;
    --color-creamy-beige: #F4E1D2;
    --color-sepia: #704214;
  }